@import url("./template.css");

.guard {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 50% 50%;
}

.left-side {
  background-color: var(--color-white);
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.right-side {
  background-color: var(--color-background);
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.bg-back img {
  width: 80%;
  margin: 0 auto;
}

.auth {
  background-color: var(--color-white);
  width: 70%;
  margin: 0 auto;
  padding: 2.5rem 1.8rem;
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
}

.label-font {
  font-size: 0.88rem;
  color: var(--color-dark);
  font-weight: 600;
  margin-bottom: 0.28rem;
}

.form-login .row > div {
  margin-bottom: 1.6rem;
}

.custom-btn {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border-radius: var(--card-border-radius);
  color: var(--color-white);
}

.custom-btn__primary {
  background-color: var(--color-danger);
}

.custom-btn__info {
  background-color: rgb(100, 173, 202);
}
.custom-btn__dark {
  background-color: rgb(22, 21, 21);
  color: rgb(255, 208, 0) !important;
}

.custom-btn__default {
  background-color: var(--color-danger);
}

.custom-btn__warning {
  background-color: var(--color-orange);
}

.custom-btn__danger {
  background-color: red;
}

.custom-btn span {
  font-size: 1rem;
  margin-right: 0.6rem;
}

.custom-btn:hover {
  background-color: var(--color-warning);
}

.custom-btn__danger:hover {
  background-color: rgb(255, 82, 82);
}

.custom-btn:disabled,
.custom-btn__danger:disabled {
  background-color: var(--color-info-dark);
}

.brand {
  width: 45%;
  margin: 0 auto 1.98rem auto;
}
